/* Global Styles */
* {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

/* Header */
.banner {
    background-color: navy;
    color: white;
    text-align: center;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.banner1 {
    display: flex;
    align-items: center;
    width: 50%;
}
.banner1 img{
    margin-left: 30%;
    margin-top: 10px;
}
.banner2 {
    display: flex;
    align-items: center;
    width: 50%;
}

/* Navigation */
nav {
    display: flex;
    background-color: navy;
    padding: 20px 50px 20px 50px;
    text-align: center;
    float: left;
    width: 100%;
}

.radio-label {
    color: silver;
    margin-right: 50px;
    cursor: pointer;
}

.radio-label:hover {
    color: white;
    text-decoration: underline;
}

button {
    background-color: white;
    border: 1px solid navy;
    padding: 5px 10px;
    cursor: pointer;
    color: navy;
}

button:hover {
    background-color: lightgray;
}

/* Main Layout */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.left, .right {
    background-color: azure;
    padding: 10px;
    border: 1px solid navy;
}

.left {
    width: 70%;
    height: 600px;
}

.right {
    width: 30%;
    height: 600px;
}

/* Table Styles */
table {
    border: 1px solid navy;
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
}
h3{
    margin-bottom: 30px;
}
table th, table td {
    border: 1px solid navy;
    padding: 8px;
    text-align: center;
}

table tr:hover {
    background-color: skyblue;
}

/* List in Right Section */
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}
p{
    padding: 10px;
}
.right img {
    width: 90%;
    display: block;
    margin: 10px auto;
}

.right a {
    display: block;
    margin: 10px;
    color: navy;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}
